accelerate==0.18.0
einops-exts==0.0.4
einops==0.7.0
facexlib==0.3.0
fastapi==0.110.0
fsspec==2024.2.0
gradio==4.19.1
gradio_client==0.10.0
gradio_imageslider
httpx==0.25.0
kornia==0.6.9
Markdown==3.4.1
matplotlib==3.7.1
ninja==1.11.1
numpy==1.24.2
omegaconf==2.3.0
open-clip-torch==2.17.1
openai-clip==1.0.1
opencv-python==4.7.0.72
pandas==2.0.1
Pillow==9.4.0
pytorch-lightning==2.1.2
PyYAML==6.0
requests
scikit-learn==1.2.2
scipy==1.9.1
sentencepiece==0.1.98
sentencepiece==0.1.98
timm==0.9.8
tokenizers==0.13.3
#torch>=2.1.0
#torchvision>=0.16.0
tqdm==4.65.0
transformers==4.28.1
#triton==2.1.0
urllib3==1.26.15
uvicorn==0.21.1
wandb==0.14.0
webdataset==0.2.48
#xformers>=0.0.20
facexlib==0.3.0
k-diffusion==0.1.1.post1
diffusers==0.16.1
